@{
    ViewData["Title"] = "Forgot Password Confimation";
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h2 class="text-center mb-4">Check your email</h2>
                    <p>An email with password reset instructions has been sent to your email address.</p>
                </div>
            </div>
        </div>
    </div>
</div>