@{
    ViewData["Title"] = "Forgot Password Confimation";
}


<h2>Forgot Password Confirmation</h2>

<div>
    <p>If you want to reset your password, click the link below:</p>
    @if (ViewBag.ResetLink != null)
    {
        <a href="@ViewBag.ResetLink">Reset Password</a>
    }
</div>